@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="@Url.Content("~/Demo/Simple/43")">Simple</a></li>
            <li><a href="@Url.Content("~/Demo/Template/")">Template</a></li>
            <li><a href="@Url.Content("~/Demo/Complex/43/iggy")">Complex</a></li>
            <li><a href="@Url.Content("~/Demo/ModelBinding")">Model Binding</a></li>
            <li><a href="@Url.Content("~/Demo/Library")">Library</a></li>
            <li><a href="@Url.Content("~/Demo/Debug")">Debugging</a></li>
            <li><a href="@Url.Content("~/Demo/Config")">Config</a></li>
            <li><a href="@Url.Content("~/Demo/CSS")">CSS</a></li>
        </ul>
    </div>
</body>
</html>
